In [1]:
import pandas as pd
import numpy as np
from scipy.stats import mode

In [2]:
data_sales = pd.read_csv('sales.csv',parse_dates=['date'])

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_product_hierarchy = pd.read_csv('product_hierarchy.csv')

In [4]:
data_store_cities = pd.read_csv('store_cities.csv')

In [5]:
data_sales.head(5)

,product_id,store_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,P0001,S0002,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
1,P0001,S0012,2017-01-02,1.0,5.30,0.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
2,P0001,S0013,2017-01-02,2.0,10.59,0.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
3,P0001,S0023,2017-01-02,0.0,0.00,6.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
4,P0001,S0025,2017-01-02,0.0,0.00,1.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN

In [6]:
data_sales.isnull().sum()

product_id                      0
store_id                        0
date                            0
sales                     1190762
revenue                   1190762
stock                     1190762
price                      571981
promo_type_1                    0
promo_bin_1              16803149
promo_type_2                    0
promo_bin_2              19395757
promo_discount_2         19395757
promo_discount_type_2    19395757
dtype: int64

In [7]:
data_product_hierarchy.isnull().sum()

product_id         0
product_length    18
product_depth     16
product_width     16
cluster_id        50
hierarchy1_id      0
hierarchy2_id      0
hierarchy3_id      0
hierarchy4_id      0
hierarchy5_id      0
dtype: int64

In [8]:
data_store_cities.isnull().sum()

store_id        0
storetype_id    0
store_size      0
city_id         0
dtype: int64

## Filling Nas for product hierarchy

In [9]:
data_product_hierarchy['product_length'].fillna(data_product_hierarchy['product_length'].mean(),inplace = True)
data_product_hierarchy['product_depth'].fillna(data_product_hierarchy['product_depth'].mean(),inplace = True)
data_product_hierarchy['product_width'].fillna(data_product_hierarchy['product_width'].mean(),inplace = True)
data_product_hierarchy['cluster_id'].fillna(mode(data_product_hierarchy['cluster_id'])[0][0],inplace = True)

In [10]:
data_product_hierarchy.isnull().sum()

product_id        0
product_length    0
product_depth     0
product_width     0
cluster_id        0
hierarchy1_id     0
hierarchy2_id     0
hierarchy3_id     0
hierarchy4_id     0
hierarchy5_id     0
dtype: int64

## Filling Nas for price

In [11]:
dict_price = {}
for i, x in enumerate(data_sales['product_id']):
    if (x not in dict_price.keys() and not(np.isnan(data_sales['price'][i]))):
        dict_price[x]=data_sales['price'][i]

In [12]:
data_sales.price = data_sales.price.fillna(data_sales.product_id.map(dict_price))

data_sales.isna().sum()

product_id                      0
store_id                        0
date                            0
sales                     1190762
revenue                   1190762
stock                     1190762
price                       10444
promo_type_1                    0
promo_bin_1              16803149
promo_type_2                    0
promo_bin_2              19395757
promo_discount_2         19395757
promo_discount_type_2    19395757
dtype: int64

In [13]:
data_sales['price'].fillna(data_sales['price'].mean(),inplace = True)

# Filling sales,revenue,stock and price by

In [14]:
data_sales.isna().sum()

product_id                      0
store_id                        0
date                            0
sales                     1190762
revenue                   1190762
stock                     1190762
price                           0
promo_type_1                    0
promo_bin_1              16803149
promo_type_2                    0
promo_bin_2              19395757
promo_discount_2         19395757
promo_discount_type_2    19395757
dtype: int64

## Filling Nas for promos

In [15]:
data_sales['promo_bin_1'].fillna(0,inplace= True)
data_sales['promo_bin_2'].fillna(0,inplace= True)
data_sales['promo_discount_2'].fillna(0,inplace= True)
data_sales['promo_discount_type_2'].fillna(0,inplace= True)

In [16]:
data_sales.dropna(inplace=True)

In [17]:
data_sales.isna().sum()

product_id               0
store_id                 0
date                     0
sales                    0
revenue                  0
stock                    0
price                    0
promo_type_1             0
promo_bin_1              0
promo_type_2             0
promo_bin_2              0
promo_discount_2         0
promo_discount_type_2    0
dtype: int64

## Categorical to Numerical

#### promo_type_1

In [18]:
data_sales['promo_type_1'].unique()

array(['PR14', 'PR05', 'PR10', 'PR03', 'PR06', 'PR07', 'PR12', 'PR17',
       'PR08', 'PR13', 'PR09', 'PR16', 'PR15', 'PR01', 'PR18', 'PR11',
       'PR04'], dtype=object)

In [19]:
encode_dict_type_1 = {
    'PR01':1,
    'PR03':3,
    'PR04':4,
    'PR05':5,
    'PR06':6,
    'PR07':7,
    'PR08':8,
    'PR09':9,
    'PR10':10,
    'PR11':11,
    'PR12':12,
    'PR13':13,
    'PR14':14,
    'PR15':15,
    'PR16':16,
    'PR17':17,
    'PR18':18
}

data_sales['promo_type_1'].replace(encode_dict_type_1,inplace=True)

#### promo_bin_1

In [20]:
data_sales['promo_bin_1'].unique()

array([0, 'high', 'verylow', 'veryhigh', 'moderate', 'low'], dtype=object)

In [21]:
encode_dict = {
    'verylow':1,
    'low':2,
    'moderate':3,
    'high':4,
    'veryhigh':5
}

data_sales['promo_bin_1'].replace(encode_dict,inplace=True)

#### promo_type_2

In [22]:
data_sales['promo_type_2'].unique()

array(['PR03', 'PR02', 'PR01', 'PR04'], dtype=object)

In [23]:
encode_dict_type_2 = {'PR01':1,
                     'PR02':2,
                     'PR03':3,
                     'PR04':4}

data_sales['promo_type_2'].replace(encode_dict_type_2,inplace=True)

#### promo_bin_2

In [24]:
data_sales['promo_bin_2'].unique()

array([0, 'verylow', 'high', 'veryhigh'], dtype=object)

In [25]:
encode_dict_bin_2 = {
    'verylow':1,
    'low':2,
    'high':3,
    'veryhigh':4
}


data_sales['promo_bin_2'].replace(encode_dict_bin_2,inplace=True)

#### promo_discount_type_2

In [26]:
data_sales['promo_discount_type_2'].unique()

array([0, 'PR04', 'PR02', 'PR01', 'PR03'], dtype=object)

In [27]:
encode_discount_type_2 = {'PR01':1,
                     'PR02':2,
                     'PR03':3,
                     'PR04':4}

data_sales['promo_discount_type_2'].replace(encode_discount_type_2,inplace=True)

## Weekly Data Conversion

In [28]:
#Converting to weekly data

weekly_data = data_sales.groupby(['product_id','store_id']).resample('W', label='right', closed = 'right', on='date').sum().reset_index()
weekly_data

,product_id,store_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,P0001,S0001,2017-02-12,2.0,11.02,0.0,13.0,28,0,6,0,0.0,0
1,P0001,S0001,2017-02-19,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
2,P0001,S0001,2017-02-26,1.0,5.51,0.0,6.5,14,0,3,0,0.0,0
3,P0001,S0001,2017-03-05,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
4,P0001,S0001,2017-03-12,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2967854,P0748,S0142,2019-10-06,2.0,35.00,119.0,132.3,98,0,21,0,0.0,0
2967855,P0748,S0142,2019-10-13,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967856,P0748,S0142,2019-10-20,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967857,P0748,S0142,2019-10-27,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967858,P0748,S0142,2019-11-03,0.0,0.00,64.0,75.6,56,0,12,0,0.0,0

In [29]:
weekly_data = weekly_data.drop(['price'],axis = 1)

In [30]:
price = []
for x in weekly_data['product_id']:
    if x in dict_price.keys():
        price.append(dict_price[x])
    else :
        price.append(np.nan)

weekly_data['price'] = price
weekly_data['price'].fillna(method = 'ffill',inplace = True)

In [31]:
weekly_data.isna().sum()

product_id               0
store_id                 0
date                     0
sales                    0
revenue                  0
stock                    0
promo_type_1             0
promo_bin_1              0
promo_type_2             0
promo_bin_2              0
promo_discount_2         0
promo_discount_type_2    0
price                    0
dtype: int64

In [32]:
#Combining product_hierarchy features with sales

dict_length = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.product_length))
dict_depth = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.product_depth))
dict_width = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.product_width))
dict_cluster_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.cluster_id))
dict_hierarchy1_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.hierarchy1_id))
dict_hierarchy2_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.hierarchy2_id))
dict_hierarchy3_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.hierarchy3_id))
dict_hierarchy4_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.hierarchy4_id))
dict_hierarchy5_id = dict(zip(data_product_hierarchy.product_id,data_product_hierarchy.hierarchy5_id))



product_length = []
product_depth = []
product_width = []
cluster_id = []
hierarchy1_id = []
hierarchy2_id = []
hierarchy3_id = []
hierarchy4_id = []
hierarchy5_id = []

for x in weekly_data['product_id']:
    product_length.append(dict_length[x])
    product_depth.append(dict_depth[x])
    product_width.append(dict_width[x])
    cluster_id.append(dict_cluster_id[x])
    hierarchy1_id.append(dict_hierarchy1_id[x])
    hierarchy2_id.append(dict_hierarchy2_id[x])
    hierarchy3_id.append(dict_hierarchy3_id[x])
    hierarchy4_id.append(dict_hierarchy4_id[x])
    hierarchy5_id.append(dict_hierarchy5_id[x])

weekly_data['product_length'] = product_length
weekly_data['product_depth'] = product_depth
weekly_data['product_width'] = product_width
weekly_data['cluster_id'] = cluster_id
weekly_data['hierarchy1_id'] = hierarchy1_id
weekly_data['hierarchy2_id'] = hierarchy2_id
weekly_data['hierarchy3_id'] = hierarchy3_id
weekly_data['hierarchy4_id'] = hierarchy4_id
weekly_data['hierarchy5_id'] = hierarchy5_id

In [33]:
#Combining store_cities features with sales

dict_storetype_id = dict(zip(data_store_cities.store_id,data_store_cities.storetype_id))
dict_store_size = dict(zip(data_store_cities.store_id,data_store_cities.store_size))
dict_city_id = dict(zip(data_store_cities.store_id,data_store_cities.city_id))

storetype_id = []
store_size = []
city_id = []

for x in weekly_data['store_id']:
    storetype_id.append(dict_storetype_id[x])
    store_size.append(dict_store_size[x])
    city_id.append(dict_city_id[x])

weekly_data['storetype_id'] = storetype_id
weekly_data['store_size'] = store_size
weekly_data['city_id'] = city_id

In [34]:
weekly_data.head(2)

,product_id,store_id,date,sales,revenue,stock,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,...,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id,storetype_id,store_size,city_id
0,P0001,S0001,2017-02-12,2.0,11.02,0.0,28,0,6,0,...,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,41,C031
1,P0001,S0001,2017-02-19,0.0,0.00,0.0,0,0,0,0,...,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,41,C031

In [35]:
# Encode Remaining Labels

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
weekly_data['product_id'] = le.fit_transform(weekly_data['product_id'])
weekly_data['store_id'] = le.fit_transform(weekly_data['store_id'])
weekly_data['cluster_id'] = le.fit_transform(weekly_data['cluster_id'])
weekly_data['hierarchy1_id'] = le.fit_transform(weekly_data['hierarchy1_id'])
weekly_data['hierarchy2_id'] = le.fit_transform(weekly_data['hierarchy2_id'])
weekly_data['hierarchy3_id'] = le.fit_transform(weekly_data['hierarchy3_id'])
weekly_data['hierarchy4_id'] = le.fit_transform(weekly_data['hierarchy4_id'])
weekly_data['hierarchy5_id'] = le.fit_transform(weekly_data['hierarchy5_id'])
weekly_data['storetype_id'] = le.fit_transform(weekly_data['storetype_id'])
weekly_data['store_size'] = le.fit_transform(weekly_data['store_size'])
weekly_data['city_id'] = le.fit_transform(weekly_data['city_id'])

In [36]:
weekly_data.isna().sum()

product_id               0
store_id                 0
date                     0
sales                    0
revenue                  0
stock                    0
promo_type_1             0
promo_bin_1              0
promo_type_2             0
promo_bin_2              0
promo_discount_2         0
promo_discount_type_2    0
price                    0
product_length           0
product_depth            0
product_width            0
cluster_id               0
hierarchy1_id            0
hierarchy2_id            0
hierarchy3_id            0
hierarchy4_id            0
hierarchy5_id            0
storetype_id             0
store_size               0
city_id                  0
dtype: int64

In [55]:
X = weekly_data.drop(['sales','date'],axis = 1)
y = weekly_data['sales']

In [168]:
X_new = weekly_data.drop(['sales','date','promo_discount_2','promo_bin_2','promo_bin_2','promo_discount_type_2','promo_bin_1'],axis=1)

In [172]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X_new,y,test_size=0.2)

In [173]:
from xgboost import XGBRegressor
import time

ts = time.time()

xgb = XGBRegressor( seed = 13, 
    tree_method = "hist", 
    subsample = 0.7,
    max_depth = 9,
    learning_rate = 0.3,
    gamma = 5,
    colsample_bytree = 0.8,
      max_bin=512            
    )
xgb.fit(
    X_new,y,
    eval_metric="rmse",
    eval_set=[(X_train, y_train), (X_test, y_test)],
    verbose=True,
    early_stopping_rounds = 10
    )
print('Training took: {0}s'.format(time.time()-ts))
yhat_val_xgb = xgb.predict(X_test)
print('Valdation MSE:', mean_squared_error(y_test, yhat_val_xgb)) #Valdation RMSE: 0.9409594444278176

[0]	validation_0-rmse:34.30048	validation_1-rmse:30.67584
[1]	validation_0-rmse:30.62903	validation_1-rmse:26.24913
[2]	validation_0-rmse:30.32068	validation_1-rmse:25.90316
[3]	validation_0-rmse:27.25200	validation_1-rmse:22.11762
[4]	validation_0-rmse:22.83668	validation_1-rmse:18.37628
[5]	validation_0-rmse:19.49225	validation_1-rmse:16.15110
[6]	validation_0-rmse:16.87428	validation_1-rmse:14.00148
[7]	validation_0-rmse:16.06379	validation_1-rmse:13.99977
[8]	validation_0-rmse:14.12090	validation_1-rmse:13.61719
[9]	validation_0-rmse:12.39303	validation_1-rmse:12.59430
[10]	validation_0-rmse:12.15290	validation_1-rmse:10.39225
[11]	validation_0-rmse:12.13888	validation_1-rmse:10.36102
[12]	validation_0-rmse:10.46810	validation_1-rmse:8.89462
[13]	validation_0-rmse:9.40157	validation_1-rmse:7.79650
[14]	validation_0-rmse:9.10760	validation_1-rmse:6.86432
[15]	validation_0-rmse:8.72611	validation_1-rmse:6.60585
[16]	validation_0-rmse:7.78469	validation_1-rmse:5.75603
[17]	validation_0-rmse:7.00574	validation_1-rmse:4.86635
[18]	validation_0-rmse:6.17580	validation_1-rmse:4.42325
[19]	validation_0-rmse:6.03823	validation_1-rmse:4.08691
[20]	validation_0-rmse:5.93243	validation_1-rmse:4.05075
[21]	validation_0-rmse:5.69476	validation_1-rmse:3.63023
[22]	validation_0-rmse:5.14765	validation_1-rmse:3.20403
[23]	validation_0-rmse:5.09692	validation_1-rmse:3.12421
[24]	validation_0-rmse:4.95876	validation_1-rmse:3.02514
[25]	validation_0-rmse:4.59997	validation_1-rmse:2.83867
[26]	validation_0-rmse:4.14204	validation_1-rmse:2.72909
[27]	validation_0-rmse:4.12310	validation_1-rmse:2.68011
[28]	validation_0-rmse:4.06875	validation_1-rmse:2.63873
[29]	validation_0-rmse:4.04369	validation_1-rmse:2.63651
[30]	validation_0-rmse:3.69578	validation_1-rmse:2.56588
[31]	validation_0-rmse:3.67738	validation_1-rmse:2.53841
[32]	validation_0-rmse:3.39547	validation_1-rmse:2.39967
[33]	validation_0-rmse:3.18499	validation_1-rmse:2.35033
[34]	validation_0-rmse:3.05962	validation_1-rmse:2.30574
[35]	validation_0-rmse:3.04816	validation_1-rmse:2.23033
[36]	validation_0-rmse:2.96211	validation_1-rmse:2.18594
[37]	validation_0-rmse:2.82346	validation_1-rmse:2.17529
[38]	validation_0-rmse:2.74309	validation_1-rmse:2.17338
[39]	validation_0-rmse:2.70586	validation_1-rmse:2.16414
[40]	validation_0-rmse:2.70036	validation_1-rmse:2.15786
[41]	validation_0-rmse:2.63041	validation_1-rmse:2.13809
[42]	validation_0-rmse:2.61528	validation_1-rmse:2.13434
[43]	validation_0-rmse:2.55940	validation_1-rmse:2.13854
[44]	validation_0-rmse:2.51430	validation_1-rmse:2.09473
[45]	validation_0-rmse:2.48477	validation_1-rmse:2.08246
[46]	validation_0-rmse:2.47525	validation_1-rmse:2.06836
[47]	validation_0-rmse:2.41218	validation_1-rmse:2.05323
[48]	validation_0-rmse:2.41076	validation_1-rmse:2.05023
[49]	validation_0-rmse:2.40019	validation_1-rmse:2.00067
[50]	validation_0-rmse:2.34444	validation_1-rmse:1.98090
[51]	validation_0-rmse:2.28221	validation_1-rmse:1.96981
[52]	validation_0-rmse:2.25441	validation_1-rmse:1.98226
[53]	validation_0-rmse:2.22831	validation_1-rmse:1.97209
[54]	validation_0-rmse:2.22406	validation_1-rmse:1.96451
[55]	validation_0-rmse:2.21834	validation_1-rmse:1.96511
[56]	validation_0-rmse:2.20820	validation_1-rmse:1.96225
[57]	validation_0-rmse:2.18994	validation_1-rmse:1.96354
[58]	validation_0-rmse:2.18335	validation_1-rmse:1.95915
[59]	validation_0-rmse:2.16632	validation_1-rmse:1.94113
[60]	validation_0-rmse:2.15597	validation_1-rmse:1.93196
[61]	validation_0-rmse:2.15320	validation_1-rmse:1.92483
[62]	validation_0-rmse:2.14624	validation_1-rmse:1.91965
[63]	validation_0-rmse:2.13503	validation_1-rmse:1.91528
[64]	validation_0-rmse:2.12459	validation_1-rmse:1.90497
[65]	validation_0-rmse:2.12333	validation_1-rmse:1.90310
[66]	validation_0-rmse:2.12137	validation_1-rmse:1.87240
[67]	validation_0-rmse:2.12500	validation_1-rmse:1.85135
[68]	validation_0-rmse:2.11355	validation_1-rmse:1.84089
[69]	validation_0-rmse:2.09195	validation_1-rmse:1.86711
[70]	validation_0-rmse:2.08830	validation_1-rmse:1.84867
[71]	validation_0-rmse:2.08088	validation_1-rmse:1.85479
[72]	validation_0-rmse:2.07340	validation_1-rmse:1.84682
[73]	validation_0-rmse:2.06435	validation_1-rmse:1.84766
[74]	validation_0-rmse:2.05724	validation_1-rmse:1.85099
[75]	validation_0-rmse:2.06012	validation_1-rmse:1.82085
[76]	validation_0-rmse:2.05509	validation_1-rmse:1.82734
[77]	validation_0-rmse:2.04417	validation_1-rmse:1.85433
[78]	validation_0-rmse:2.04015	validation_1-rmse:1.84507
[79]	validation_0-rmse:2.03604	validation_1-rmse:1.83282
[80]	validation_0-rmse:2.02560	validation_1-rmse:1.85267
[81]	validation_0-rmse:2.01670	validation_1-rmse:1.86110
[82]	validation_0-rmse:2.01752	validation_1-rmse:1.79984
[83]	validation_0-rmse:2.00962	validation_1-rmse:1.80270
[84]	validation_0-rmse:2.00386	validation_1-rmse:1.80016
[85]	validation_0-rmse:1.99684	validation_1-rmse:1.83286
[86]	validation_0-rmse:1.99145	validation_1-rmse:1.82899
[87]	validation_0-rmse:1.99034	validation_1-rmse:1.82682
[88]	validation_0-rmse:1.98562	validation_1-rmse:1.82524
[89]	validation_0-rmse:1.98791	validation_1-rmse:1.79984
[90]	validation_0-rmse:1.98912	validation_1-rmse:1.77073
[91]	validation_0-rmse:1.98207	validation_1-rmse:1.77395
[92]	validation_0-rmse:1.97929	validation_1-rmse:1.76212
[93]	validation_0-rmse:1.97488	validation_1-rmse:1.75583
[94]	validation_0-rmse:1.97227	validation_1-rmse:1.75260
[95]	validation_0-rmse:1.97568	validation_1-rmse:1.73636
[96]	validation_0-rmse:1.97984	validation_1-rmse:1.70354
[97]	validation_0-rmse:1.96679	validation_1-rmse:1.72958
[98]	validation_0-rmse:1.96175	validation_1-rmse:1.72755
[99]	validation_0-rmse:1.95811	validation_1-rmse:1.73091
Training took: 62.18280363082886s
Valdation MSE: 2.9023619895748016

In [174]:
import pickle

filename = 'finalized_model.sav'
pickle.dump(xgb, open(filename, 'wb'))